<article [ngClass]="{'px-0 xs:px-7': isComment, 'bg-dark-2 p-7': !isComment}"
         class="flex w-full flex-col rounded-xl">
  <div class="flex items-start justify-between">
    <div class="flex w-full flex-1 flex-row gap-4">
      <div class="flex flex-col items-center">
        <a [routerLink]="'/profile/' + author.id" class="relative h-11 w-11">
          <img [src]="author.image" alt="user_community_image" class="cursor-pointer rounded-full"/>
        </a>

        <div class="thread-card_bar"></div>
      </div>

      <div class="flex w-full flex-col">
        <a [routerLink]="'/profile/' + author.id" class="w-fit">
          <h4 class="cursor-pointer text-base-semibold text-light-1">{{ author.name }}</h4>
        </a>

        <p class="mt-2 text-small-regular text-light-2">{{ content }}</p>

        <div class="{{ isComment && 'mb-10' }} mt-5 flex flex-col gap-3">
          <div class="flex gap-3.5">
            <img alt="heart" class="cursor-pointer object-contain" height="24"
                 src="/assets/heart-gray.svg"
                 width="24"/>
            <a [routerLink]="'/post/' + id">
              <img alt="heart" class="cursor-pointer object-contain" height="24"
                   src="/assets/reply.svg"
                   width="24"/>
            </a>
            <img alt="heart" class="cursor-pointer object-contain" height="24"
                 src="/assets/repost.svg"
                 width="24"/>
            <img alt="heart" class="cursor-pointer object-contain" height="24"
                 src="/assets/share.svg"
                 width="24"/>
          </div>

          <ng-container *ngIf="isComment && comments.length > 0">
            <a [routerLink]="'/post/' + id" class="mt-1 text-subtle-medium text-gray-1">
              {{ comments.length }} repl{{ comments.length > 1 ? 'ies' : 'y' }}
            </a>
          </ng-container>
        </div>
      </div>
    </div>

    <app-delete-post
      *ngIf="!isComment"
      [authorId]="author.id"
      [currentUserId]="currentUserId"
      [parentId]="parentId"
      [threadId]="id"
    ></app-delete-post>
  </div>

  <ng-container *ngIf="!isComment && comments.length > 0">
    <div class="ml-1 mt-3 flex items-center gap-2">
      <ng-container *ngFor="let comment of comments; let index = index">
        <img
          [alt]="'user_' + index"
          [class]="index !== 0 ? '-ml-5' : '' + ' rounded-full object-cover'"
          [src]="comment.author.image"
          height="24"
          width="24"
        />
      </ng-container>

      <a [routerLink]="'/post/' + id" class="mt-1 text-subtle-medium text-gray-1">
        {{ comments.length }} repl{{ comments.length > 1 ? 'ies' : 'y' }}
      </a>
    </div>
  </ng-container>

  <ng-container *ngIf="!isComment && community">
    <a [routerLink]="'/boards/' + community.id" class="mt-5 flex items-center">
      <p class="text-subtle-medium text-gray-1">
        {{ formatDateString(createdAt) }} - {{ community.name }} Community
      </p>

      <img [alt]="community.name" [src]="community.image" class="ml-1 rounded-full object-cover"
           height="14"
           width="14"/>
    </a>
  </ng-container>
</article>
