<form
  (ngSubmit)='onSubmit()'
  [formGroup]='commentForm'
  class='comment-form'
>
  <div class='flex w-full items-center gap-3'>
    <label>
      <img
        [src]='currentUserImg'
        alt='current_user'
        class='rounded-full object-cover'
        height='48'
        width='48'
      />
    </label>
    <div class='border-none bg-transparent'>
      <input
        class='no-focus text-light-1 outline-none'
        formControlName='thread'
        placeholder='Comment...'
        type='text'
      />
    </div>
  </div>

  <button class='comment-form_btn' type='submit'>
    Reply
  </button>
</form>
