<div class="content">
  <h2>Sign up</h2>
  <form (ngSubmit)="showThankYou()">
    <div class="field-wrapper">
      <input type="text" name="email" placeholder="email">
      <label>e-mail</label>
    </div>
    <div class="field-wrapper">
      <input type="password" name="password" placeholder="password" autocomplete="new-password">
      <label>password</label>
    </div>
    <div class="field-wrapper">
      <input type="password" name="password2" placeholder="password" autocomplete="new-password">
      <label>re-enter password</label>
    </div>
    <div class="field-wrapper">
      <input type="submit">
    </div>
</form>
</div>
