<h1 class="head-text">Communities</h1>

<div class="mt-5">
  <app-search-bar>routeType="communities"></app-search-bar>
</div>

<section class="mt-9 flex flex-wrap gap-4">
  <ng-container *ngIf="result?.communities.length > 0; else noResult">
    <app-comunity-card
      *ngFor="let community of result.communities"
      [bio]="community.bio"
      [id]="community.id"
      [imgUrl]="community.image"
      [members]="community.members"
      [name]="community.name"
      [username]="community.username"
    ></app-comunity-card>
  </ng-container>
  <ng-template #noResult>
    <p class="no-result">No Result</p>
  </ng-template>
</section>

<app-pagination
  [isNext]="result?.isNext"
  [pageNumber]="result?.pageNumber || 1"
  [path]="'communities'"
></app-pagination>
