<section class='relative'>
  <div>
    <app-threads-card
      [author]='thread.author'
      [comments]='thread.children'
      [community]='thread.community'
      [content]='thread.text'
      [createdAt]='thread.createdAt'
      [currentUserId]='user.id'
      [id]='thread._id'
      [parentId]='thread.parentId'
    ></app-threads-card>
  </div>

  <div class='mt-7'>
    <app-comment
      [currentUserId]='userInfo._id'
      [currentUserImg]='user.imageUrl'
      [threadId]='params.id'
    ></app-comment>
  </div>

  <div class='mt-10'>
    <ng-container *ngFor='let childItem of thread.children'>
      <app-threads-card [author]='childItem.author'
                        [comments]='childItem.children'
                        [community]='childItem.community'
                        [content]='childItem.text'
                        [createdAt]='childItem.createdAt'
                        [currentUserId]='user.id'
                        [id]='childItem._id'
                        [isComment]='true'
                        [key]='childItem._id'
                        [parentId]='childItem.parentId'
      ></app-threads-card>
    </ng-container>
  </div>
</section>
