<div class="authenthicator">
  <mat-card class="auth-content">
    <mat-card-header>
      <mat-card-title>{{getStateText()}}</mat-card-title>
    </mat-card-header>
    <app-sign-in *ngIf="isLoginState()"></app-sign-in>
    <app-sign-up *ngIf="isRegisterState()"></app-sign-up>
    <div *ngIf="isForgotPasswordState()" class="">
      <app-form-input [label]="'Email Address'" [type]="'email'"
                      formControlName="email"></app-form-input>
      <button color="warn" mat-flat-button>Send Email</button>
    </div>
    <mat-card-actions align="end">
      <button (click)="onForgotPassword()" mat-flat-button>Forgot Password</button>
      <button (click)="onCreateAccount()" mat-flat-button>Create an Account</button>
      <button (click)="onSignIn()" mat-flat-button>Login</button>
    </mat-card-actions>
  </mat-card>
</div>

