<header class="header">
  <div class="brand">
  <img src="../../../../assets/pictures/logo.png" class="logo" alt="Logo">
  <div class="title">Geeku</div>
  </div>

  <input type="checkbox" id="check" />
  <label for="check" class="icons">
    <i class="bx bx-menu" id="menu-icon"></i>
    <i class="bx bx-x" id="close-icon"></i>
  </label>

  <nav class="navbar">
    <a class="nav-item" style="--i: 0" routerLink="/">Home</a>
    <a routerLink="/boards" class="nav-item" style="--i: 1">Boards</a>
    <a routerLink="/posts" class="nav-item" style="--i:1">Posts</a>
  </nav>
</header>
