<section>
  <app-profile-header
    [accountId]="userInfo?.id"
    [authUserId]="user?.id"
    [bio]="userInfo?.bio"
    [imgUrl]="userInfo?.image"
    [name]="userInfo?.name"
    [username]="userInfo?.username"
  ></app-profile-header>

  <div class="mt-9">
    <ng-container *ngIf="user && userInfo">
      <app-tabs class="w-full" defaultValue="threads">
        <app-tab-list class="tab">
          <app-tab-trigger
            *ngFor="let tab of profileTabs"
            [key]="tab.label"
            [value]="tab.value"
            class="tab"
          >
            <app-image
              [alt]="tab.label"
              [src]="tab.icon"
              class="object-contain"
              height="24"
              width="24"
            ></app-image>
            <p class="max-sm:hidden">{{ tab.label }}</p>

            <ng-container *ngIf="tab.label === 'Threads'">
              <p
                class="ml-1 rounded-sm bg-light-4 px-2 py-1 !text-tiny-medium text-light-2"
              >
                {{ userInfo.threads.length }}
              </p>
            </ng-container>
          </app-tab-trigger>
        </app-tab-list>
        <ng-container *ngFor="let tab of profileTabs">
          <app-tab-content
            *ngIf="tab.label === 'Threads'"
            [value]="tab.value"
            class="w-full text-light-1"
          >
            <app-threads-tab
              [accountId]="userInfo?.id"
              [currentUserId]="user?.id"
              accountType="User"
            ></app-threads-tab>
          </app-tab-content>
        </ng-container>
      </app-tabs>
    </ng-container>
  </div>
</section>
